@import url("https://fonts.googleapis.com/css?family=Montserrat:500,500i,700,900");

/**
 * Fonts
 */

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: $font-weight-medium;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $color-brand-dark-blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  font-size: 44px;
  letter-spacing: -0.5px;
  line-height: 60px;
  margin: 30px 0;
  font-weight: $font-weight-bolder;
}
h2,
.h2 {
  font-size: 36px;
  letter-spacing: 0;
  line-height: 48px;
  margin: 24px 0;
  font-weight: $font-weight-bolder;
}
h3,
.h3 {
  font-size: 28px;
  letter-spacing: -0.18px;
  line-height: 40px;
  margin: 20px 0;
  font-weight: $font-weight-bolder;
}
h4,
.h4 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 16px 0;
  font-weight: $font-weight-bold;
}
h5,
.h5 {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 12px 0;
  font-weight: $font-weight-bold;
}
a {
  color: $color-brand-blue;
  &:hover {
    color: $color-brand-dark-blue;
  }
}
p, [class^="p-"] {
  display: block;
  margin: 0;
  padding: 0;  
}
p, .p {
  font-size: $font-size-md;
  line-height: 20px;
  margin: 10px 0;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
}
.p-lg {
  font-size: $font-size-lg;
  line-height: 24px;
  margin: 12px 0;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
}
.p-sm {
  font-size: $font-size-sm;
  line-height: 18px;
  margin: 9px 0;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
}
.p-xs {
  font-size: $font-size-sm;
  line-height: 16px;
  margin: 8px 0;
  font-weight: $font-weight-medium;
  letter-spacing: 0;
}
